workflow:
  rules: # Run pipeline only if a tag is pushed by "git push --tags"
    - if: $CI_COMMIT_TAG

stages:
  - build
  - test
  - deploy

build_sdist:
  image: python:latest
  stage: build
  script:
    - python setup.py sdist
    - echo "BUILD_VERSION=$( ls dist/*tar.gz )" >> build.env
    - echo "BUILD_JOB=${CI_JOB_ID}" >> build.env
  artifacts:
    paths:
      - dist
    reports:
      dotenv: build.env 
 
 build_bdist_deb:
  image: python:latest
  stage: build
  needs:     
    job: build_sdist
    artifacts: true 
  script:
    - pip install stdeb
    - export DEB_BUILD_OPTIONS=nocheck
    - python3 setup.py bdist_deb
    - echo "BUILD_DEB_VERSION=$( ls deb_dist/*deb )" >> build.env
    - echo "BUILD_DEB_JOB=${CI_JOB_ID}" >> build.env
  artifacts:
    paths:
      - deb_dist
    reports:
      dotenv: build.env 
     
      
test_latest:
  image: python:latest
  stage: test
  script:
    - pip install tox numpy pandas flake8
    - tox

dploy_pages:
  image: python:latest
  stage: deploy
  rules:   # Run if tag is v0.00.00.. indicating a release
    - if: $CI_COMMIT_TAG =~ /^v[0-9]*\.[0-9]*\.[0-9]*.*/  
  script:
    - pip install sphinx
    - python setup.py build_sphinx
    - mv build/sphinx/html/ public/
  artifacts:
    paths:
    - public

    
release_release:
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  stage: deploy
  rules:   # Run if tag is v0.00.00.. indicating a release
    - if: $CI_COMMIT_TAG =~ /^v[0-9]*\.[0-9]*\.[0-9]*.*/ 
  script:
    - echo "Running the release job."
  needs:     
    job: 
      - build_sdist
      - build_bdist_deb
    artifacts: true 
  release:      # See https://docs.gitlab.com/ee/ci/yaml/#release for available properties
     name: '$CI_COMMIT_TAG'
     description: '$CI_COMMIT_DESCRIPTION'
     tag_name: '$CI_COMMIT_TAG'
     ref: '$CI_COMMIT_TAG'
     assets:
       links:
         - name: "Python install package: ${BUILD_VERSION}"
           type: 'package'       
           url: '${CI_PROJECT_URL}/-/jobs/${BUILD_JOB}/artifacts/raw/${BUILD_VERSION}'
       links:
         - name: "Debian/ubuntu package: ${BUILD_DEB_VERSION}"
           type: 'package'       
           url: '${CI_PROJECT_URL}/-/jobs/${BUILD_DEB_JOB}/artifacts/raw/${BUILD_DEB_VERSION}'
           
