# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    tags:
      - 'v*'

# permissions:
#   contents: read

jobs:
  run_test:
    runs-on: ubuntu-latest
    steps:
    - id: checkout
      uses: actions/checkout@v3
    - id: setup
      name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.x"
    - id: requirements
      name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest tox
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - id: tox
      name: Run tests with tox
      run: tox


  build_release:
    needs: run_test

    runs-on: ubuntu-latest
    steps:
      - id: checkout
        uses: actions/checkout@v3
      - id: build
        name: Build Packages
        run: |
          python3 setup.py sdist bdist_wheel
          SDIST=$(ls ./dist/*.tar.gz)
          echo "::set-output name=sdist::${SDIST}"
          WHEEL=$(ls ./dist/*.whl)
          echo "::set-output name=wheel::${WHEEL}"
      - id: pre
        name: Check if Pre-Release
        run: |
          if [[ $GITHUB_REF =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              echo ":set-output name=ispre::false"
          else
              echo "::set-output name=ispre::true"
          fi
          echo "::set-output name=wheel::${WHEEL}"
      - id: release
        name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ steps.pre.outputs.ispre }}
          files: |
            ${{ steps.build.outputs.sdist }}
            ${{ steps.build.outputs.wheel }}

